.user-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.user-post-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  width: 90%;
  max-width: 1110px;
  padding-bottom: 25px;
  margin-top: 0px;
  padding-top: 0px;
}

@media screen and (max-width: 768px) {
  .user-post-content {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 4px;
}
